{% extends 'base.html' %}
{% block links %}

{% endblock %}
{% block content %}
<!-- <main class="event">
    <h1>Book Your Tattoo</h1>
    <div id="event">
        {% if error_message %}<img class='randomTat' src='{{ error_message }}' />{% endif %}
        <form method="post">
            {% csrf_token %}
            {{ event_form.as_table }}
            <input type="submit" class="btn" value="Book Appointment">
        </form>
    </div>
</main> -->

<div id="event">
    {% if error_message %} <h4 class='red'> {{error_message }}</h4>{% endif %}
    {% if tattoo_message %} 
    
        <h4 class='red center'> {{tattoo_message }}</h4>
        <p><a href="tattoos/details">See Details</a>
        </p>
    {% else %}
    <img class='randomTat' src='{{ tattoo }}'/>
    <form method="post" action="{% url 'event_checkout' %}">
        {% csrf_token %}
        {{ event_form.as_table }}
        <input type="submit" class="btn" value="Book Appointment" style="color: rgb(37, 37, 37)">
    </form>
    {% endif %}
    <br>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src='../static/js/materialize.clockpicker.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dateEl = document.getElementById('datetime-input');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });


        $('#timepicker').pickatime({
            default: 'now',
            twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
            donetext: 'OK',
            autoclose: false,
            vibrate: true // vibrate the device when dragging clock hand
        });

        arr = document.getElementsByClassName('timepicker');
        for (let i = 0; i < arr.length; i++) {
            arr[i].setAttribute("type","time");
        }    

        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
        
        
    })

</script>
{% endblock %}