{% extends 'base.html' %}
{% block content %}
<main class="login-pg">
    <div class="beginning">
        <div class="login">
            <h2>Sign Up</h2><br>
            {% if error_message %}<p class="red-text">{{error_message}}</p>{% endif %}
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <label for="first_name">First Name: </label>
                <input id="first" type="text" autocomplete="new-text">
                <label for="last_name">Last Name: </label>
                <input id="last" type="text" autocomplete="new-text">
                <label for="email">Email: </label>
                <input id="email" type="text" autocomplete="new-email">
                {{form.as_p}}
                <button type="submit" class="" value="Sign Up">Sign Up</button>
            </form><br>
        </div>
    </div>
</main>
{% endblock %}