{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Ink Challenger</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="logo-home" href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'about' %}">Artists</a></li>
                <li><a href="{% url 'about' %}">Sign Up</a></li>
                <li><a href="{% url 'about' %}">Log In</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>