{% extends 'base.html' %}
{% block content %}
<main class="contact">

<h1 class="title">CONTACT THE INK CHALLENGERS</h1>
<div class="creators flex flexRow">
    <div class="flex flexCol">
        <h3>Sun<br>Park</h3>
        <h5>( P )</h5>
        <img src="../static/images/prv_team/sun_kinder.png" alt="">
        <p><a href="soobaklee@gmail.com">soobaklee@gmail.com</a></p>
    </div>
    <div class="flex flexCol">
        <h3>Demetrious<br>Robinson</h3>
        <h5>( R )</h5>
        <img src="../static/images/prv_team/demetrious.jpg" alt="">
        <p><a href="mailto:demetriusrobinson.dev@gmail.com">demetriusrobinson.dev@gmail.com</a></p>
    </div>
    <div class="flex flexCol">
        <h3>Danillo<br>Vieira</h3>
        <h5>( V )</h5>
        <img src="../static/images/prv_team/danillo.jpeg" alt="">
        <p><a href="danillovieira7@gmail.com">danillovieira7@gmail.com</a></p>
    </div>
</div>
</main>
{% endblock %}