{% extends 'base.html' %}
{% block content %}
<main>
<div class="home-img">
<img src="../static/images/background/horizontal/romina-farias-778232-unsplash_crop.jpg" style="margin: 0 auto">
</div>
<div class="home">
<div class="challenge">
<h1>Take the INK Challenge</h1>
</div>
<div class="xpl-text">
<p> PRV first devised the idea of the Ink Challenger one sunshine-y Tuesday afternoon.
The idea was to introduce talented, reliable and experienced tattoo artists to tattoo novices and the experienced alike.
Tattoo artists from all over the country contribute their tattoo art into the Ink Challenger's 
tattoo database which randomly generates a drawing and challenges the user to ink on the tattoo.
Regardless of the distance, all of our tattoo parlors and artists are artistically and technically skilled. 
Sign up for the challenge and find out what your randomized tattoo will be and schedule an appointment with the artist of 
your choice. Schedule the appointment for the day and time you are available.

Thanks for taking the challenge and we hope you enjoy the new tattoo for all of time!</p>
</div>
</div>
</main>
{% endblock %}