{% extends 'base.html' %}
{% block content %}
<main>
<div class="home-img">
<img src="../static/images/background/horizontal/romina-farias-778232-unsplash_crop.jpg">
</div>
<div class="home">
<div class="challenge">
<h1>Take the INK Challenge</h1>
</div>
<div class="xpl-text">
<p> PRV first devised the idea of the Ink Challenger one sunshine-y Tuesday afternoon.
The idea was to draw in tattoo enthusiasts and tatto virgins to new tattoo parlors and artists.
Talented tattoo artists from all over the country submit their tattoo art into the Ink Challenger's 
tattoo database which randomly generates a tattoo for the challenged to ink onto the body part of
choice at a local or if desired far tattoo parlor. Regardless of the distance, all of our tattoo
parlors and artists are considered top-notch professionals and forces to attend. Once the Ink Challenger 
generates the completely randomized art work, it is then the responsibility of the challenged to 
schedule an appointment with an artist and parlor of their choice. Scheduling the appointment should be a breeze; 
however if any complications occur, the PRV team can be contacted at <a href="#">theinkchallenger@prv.com</a>.

Thanks for taking the challenge and we hope you enjoy the new tattoo for all of time!</p>
</div>
</div>
</main>
{% endblock %}