* {
    margin: 0;
}

html {
    line-height: normal;
}
body {
    font-family: 'Vollkorn SC', serif, 'Rye', cursive, Arial, Helvetica, sans-serif;
    background: rgb(37, 37, 37);
}

.contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-image: url('../images/background/horizontal/flavio-gasperini-596276-unsplash_crop.jpg');
    background-size: cover;
    min-height: 700px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.artist {
    background-image: url('../images/background/romina-farias-778232-unsplash.jpg');
    background-size: cover;
}

.tattoo {
    background-image: url('../images/background/horizontal/feliperizo-co-heart-made-505560-unsplash.jpg');
    background-size: cover;
    min-height: 600px;
}

.login-pg {
    background-image: url('../images/background/jake-davies-235504-unsplash.jpg');
    background-size: cover;
}

.event {
    background-image: url('../images/background/alora-griffiths-781422-unsplash.jpg');
    background-size: cover;
    min-height: 600px;
    max-height: 1500px;
}

.tat-challenge {
    background-image: url('../images/background/horizontal/romina-farias-778232-unsplash_crop.jpg');
    background-size: cover;
    min-height: 600px;
}



header {
    /* position: fixed; */
    max-width: 1400px;
    width: 100%;
    z-index: 3;
    min-height: 50px;
    background: rgb(37, 37, 37);
    font-family: 'Rye', cursive;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

header li a {
    display: block;
    padding: 5px 30px;
    text-decoration: none;
    min-width: 50px;
}

header li a:hover, .header .menu-btn:hover {
    background-color: rgba(255, 250, 250, 0.959);
    color: black;
}

header .logo-home {
    display: block;
    float: left;
    font-size: 24px;
    padding: 5px 30px;
    text-decoration: none;
}

header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-right: 0;
}

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px;
    position: relative;
    user-select: none;
}

header .menu-icon .navicon {
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    background: rgb(255,250,250);
}

header .menu-icon .navicon:before, header .menu-icon .navicon:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    background: rgba(190, 51, 51, 0.89);
}

header .menu-icon .navicon:before {
    top: 5px;
    background: rgb(255,250,250);
}

header .menu-icon .navicon:after {
    top: -5px;
    background: rgb(255, 250, 250);
}

header .menu-ham {
    display: none;
}

header .menu-ham:checked ~ .menu {
    max-height: 340px;
}

header .menu-ham:checked ~ .menu-icon .navicon {
    background: transparent;
}

header .menu-ham:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

header .menu-ham:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

header .menu-ham:checked ~ .menu-icon:not(.steps) .navicon:before, header .menu-ham:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
    background: rgb(255, 250, 250);

}

#ink-logo {
    /* display: flex; */
    max-width: 1400px;
    min-height: 130px;
    margin-top: 30px;
}

#ink-logo p {
    font-family: 'Rye', cursive;
    font-size: 80px;
    color: rgb(255, 250, 250);
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* background: rgb(255, 250, 250); */
    font-family: 'Vollkorn SC', serif;
    margin: 0;
    /* margin-bottom: 50px; */
}

.footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    max-width: 1400px;
    height: 30px;
    background: rgb(37, 37, 37);
    margin: 1em auto 0 auto;
}

.footer div {
    display: flex;
    margin-right: 1em;
}

a {
    color: white;
    text-decoration: none;
    padding: 0;
    text-decoration-color: currentcolor;
    text-align: center;
    vertical-align: middle;
}

#right > a {
    float: right;
}

#left a {
    text-align: left;
    margin-left: 0;
}

h1 {
    color: rgba(255, 250, 250, 0.911);
    justify-content: center;
    text-align: center;
}

main .title {
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 50px;
    -webkit-text-stroke: 1px black;
    font-family: 'Rye', cursive;
}

h2 {
    color: rgba(255, 250, 250, 0.911);
    justify-content: center;
    text-align: center;
}

.login h2 {
    font-size: 50px;
    color: white;
}

.oauth {
    font-size: 35px;
    color: white;
}

.beginning {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 800px;
}
.login {
    border: 5px solid rgb(255, 250, 250);
    width: 450px;
    padding: 40px 40px 40px 40px;
    /* margin: 30px; */
}

.login h2, .login a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login form p label {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login form input, .login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login form button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    background: rgba(37, 37, 37, .9);
    color: black;
    padding: 15px;
    color: rgb(255, 250, 250);
    border: 2px solid rgba(37, 37, 37, .9);
    border-radius: 5%;
    font-size: 30px;
    font-family: 'Volkorn SC', serif;
}

.login label {
    font-size: 20px;
}

.login label, label[for=id_password], label[for=id_username] {
    margin-top: 40px;
    /* color: rgba(255, 250, 250, 0.911); */
    color: white;
    font-size: 20px;
}

.login .helptext {
    display: none;
}

.about p {
    color: whitesmoke;
}

.artist div, .tattoo div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div .artist-card {
    display: inline;
    padding: 20px 10px;
    text-align: center;
    width: 300px;
}

.artist img {
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    border-radius: 50%;
    /* border: 5px solid rgb(231, 231, 231); */
}

.tattoo img {
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    border-radius: 2%;
    /* border: 5px solid rgb(231, 231, 231); */
}

.artist h3, .tattoo h3 {
    color: rgb(255, 250, 250);
}

.artist p, .tattoo p {
    color: rgb(255, 250, 250);
}

.home {
    background: rgb(255, 250, 250);
}

.home .challenge {
    padding: 10px;
    font-family: 'Rye', cursive;
    max-width: 1400px;
}

.challenge h1 {
    margin: 10px 0;
}

.challenge h1, .xpl-text p, .xpl-text a {
    color: rgb(37, 37, 37);
}

.home-img img {
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 600px;
    max-width: 1800px;
    background-size: contain;
}

.xpl-text {
    width: 80%;
    color: rgb(221, 221, 221);
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px; 
    font-family: 'Patrick Hand', cursive;  
    line-height: 1.5; 
}

.xpl-text a {
    max-width: 1400px;
}



@media (min-width: 1000px) {
    header li {
        float: left;
    }
    header li a {
        padding: 20px 30px;
    }
    header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    header .menu-icon {
        display: none;
    }
    h1 {
        font-size: 30px;
    }
}
/* random tat css */
.randomTat {
    width: 100px;
    height: 100px;
}
/* event css */
#event {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(37, 37, 37, .5);
    /* height: 700px; */
    width: 700px;
    border: 5px solid rgba(255, 250, 250, .5);
    margin: 0 auto;
}

#event img {
    height: 175px;
    width: 175px;
    border-radius: 3%;
}
#event a {
    padding: 20px 0 0 0;
    font-size: 35px;
}

#event input {
    text-align: center;
}

#event .btn {
    background-color: rgb(37, 37, 37);
    border: 2px solid rgb(255, 250, 250);
    margin-top: 20px;
    height: 40px;    
}

#event .active {
    font-size: 30px;
    color: rgb(255, 250, 250);
}

#event form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.error, ul.errorlist li {
    color:red !important;
}
/* checkout css */
.flex {
    display: flex;
}
.flexCol {
    flex-flow: column nowrap;
    align-items: center;
    color: white !important;
}
.flexRow {
    justify-content: space-around;
}
.flexRow img {
    width: 200px;
    height: 200px;
    margin: 1em 0;
}
.creators div {
    width: 30%;
    height: 300px;
    justify-content: center;
    text-align: center;
}
.creators div h5 {
    height: 60px;
}
.creators div h3 {
    height: 96px;
}
/*  unavailable tattoos ribbons */
.box {
    width: 200px; height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
  }
  .ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
  }
  .ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#B6BAC9 0%, #808080 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
  }
  .ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #808080;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
  }
  .ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #808080;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #808080;
  }

  /* Floating Button */
  #floater {
    position: absolute;
    top: 100px;
    right: 1px;
    width: 100px;
    height: 100px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;
}
#floater button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 20px;
    background: rgba(255, 250, 250);
    border-radius: 5px;
    color: rgb(37, 37, 37);
    padding: 5px 15px;
    border: 3px solid rgb(255, 250, 250);
}
.simpleCart_checkout {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    width: 200px;
    height: 200px;
}
form input{
    color: white !important;
}
@media screen and (max-width: 500px) {
    .flexRow {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .creators .flex {
        margin: 1em 0;

    }
}